/* google font montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* flat icon cdn */


.nav-menu {
    .active {
        color: #309255 !important;

        &::before {
            position: absolute;
            content: "";
            background-image: url('/img/nav-active-shape.webp');
            width: 70px;
            height: 5px;
            background-position: center center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            bottom: -15px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }



}


.fixed-nav {
    background-color: white !important;
    padding-top: 0px !important;
    position: fixed !important;
    top: -320px;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // transform: translateY(320px);
    // transition: transform 600ms;
    animation: navBar 700ms ease-in-out forwards;

    .main-haader-wrapper {
        border: none !important;
    }
}

@keyframes navBar {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(320px);
    }
}